.team {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: $background-color;

  &__list {
    display: flex;
  }

  &__list-card {
    text-align: center;
    padding-bottom: 30px;
    background-color: $primary-white-color;
    box-shadow: $team-card-shadow;
    border-radius: 0px 0px 4px 4px;

    & + & {
      margin-left: 30px;
    }
  }
  &__list-card-title {
    margin-top: 30px;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
  }

  &__list-card-profession {
    margin-bottom: 16px;
    font-size: 16px;
    line-height: 1.18;
  }
}

.socials {
  display: flex;
  justify-content: center;

  &__item:not(:last-child) {
    margin-right: 10px;
  }

  &__link {
    display: flex;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    transition: all 250ms $timing-function;

    &:focus,
    &:hover {
      background-color: $accent-color;
      border-radius: 50%;
    }

    &:focus,
    &:hover .social-logo {
      fill: $primary-white-color;
    }
  }
}
.social-logo {
  align-self: center;
  width: 20px;
  height: 20px;
  fill: $icon-color;
}
